{% sw_extends '@MyfavBase/storefront/component/buy-widget/buy-widget.html.twig' %}

{% block buy_widget_reviews %}
    {% if product.ratingAverage > 0 and totalReviews > 0 and config('core.listing.showReview') %}

        {% if remoteClickOptions is not defined %}
            {% set remoteClickOptions = {
                selector: '#review-tab-' ~ product.id,
                scrollToElement: true,
                excludedViewports: ['XS']
            } %}
        {% endif %}

        {% if reviewTabHref is not defined %}
            {% set reviewTabHref = '#review-tab-' ~ product.id ~ '-pane' %}
        {% endif %}

        <div class="product-detail-reviews">

            {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                points: product.ratingAverage,
                style: 'text-primary'
            } %}

            {% if isMyfavListingProductCmsElement is not defined %}
                <a
                    data-bs-toggle="tab"
                    class="product-detail-reviews-link"
                    data-off-canvas-tabs="true"
                    data-remote-click="true"
                    data-remote-click-options="{{ remoteClickOptions|json_encode }}"
                    href="{{ reviewTabHref }}"
                    aria-controls="review-tab-pane"
                >
            {% else  %}
                <a class="product-detail-reviews-link" href="{{ seoUrl('frontend.detail.page', { productId: product.id }) }}?myfavOpenRating=open#review-tab-{{ product.id }}">
            {% endif %}
                {{ totalReviews }}
                {{ 'detail.reviewLinkText'|trans({'%count%': totalReviews})|sw_sanitize }}
            </a>
        </div>
    {% endif %}
{% endblock %}