{% block block_myfav_myfav_layout_column_6__1_1_1_1_1_1 %}
    {% set columns = 1 %}

    {% block block_html_inner %}
        <div class="row row-cols-5 justify-content-between">
            <div class="col">
                {% set element = block.slots.getSlot('myfavSlot1') %}
                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing  %}
                </div>
            </div>
            <div class="col">
                {% set element = block.slots.getSlot('myfavSlot2') %}
                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing  %}
                </div>
            </div>
            <div class="col">
                {% set element = block.slots.getSlot('myfavSlot3') %}
                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing  %}
                </div>
            </div>
            <div class="col">
                {% set element = block.slots.getSlot('myfavSlot4') %}
                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing  %}
                </div>
            </div>
            <div class="col">
                {% set element = block.slots.getSlot('myfavSlot5') %}
                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing  %}
                </div>
            </div>
            <div class="col">
                {% set element = block.slots.getSlot('myfavSlot6') %}
                <div data-cms-element-id="{{ element.id }}">
                    {% sw_include '@Storefront/storefront/element/cms-element-' ~ element.type ~ '.html.twig' ignore missing  %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
